<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@user.errors.count, "error")} prohibited this stock from being saved:" %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control w-25" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control w-25" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control w-25" %>
    </div>
    <br>
    <div class="field">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Role</label>
        </div>
        <%= f.select :role_id, Role.all.map { |c| [c.name, c.id] }, class: "form-control w-10 custom-select", id: "inputGroupSelect01" %>
      </div>
    </div>
    <br>
    <div class="field">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect02">Status</label>
        </div>
      <%= f.select :status, ["pending", "approved"], class: "form-control w-10 custom-select", id: "inputGroupSelect02" %>
    </div>
  </div>
  
  
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-warning text-dark" %>
  </div>
<% end %>
